<div class="col col-xl-12 header">

</div>
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <mat-card class="card-map">
                <mat-card-title>Sales per Store</mat-card-title>
                <mat-card-content>
                    <div style="text-align:center">
                        <apx-chart [series]="chartOptions1.series1" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis" [title]="chartOptions1.title"></apx-chart>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <mat-card class="card-map">
                <mat-card-title>Our Stores</mat-card-title>
                <mat-card-content>
                    <div id="map" class="map-container"></div>
                </mat-card-content>
            </mat-card>

        </div>

    </div>
    <div class="row">
        <div class="col col-lg-12">
            <mat-card>
                <mat-card-title>Our Schedules</mat-card-title>
                <mat-card-content>
                    <div class="col col-lg-12">
                        <table mat-table [dataSource]="listCommerces" #table id="table">
                            <ng-container *ngFor="let c of headers">
                                <ng-container *ngIf="c !='Acciones'" matColumnDef="{{c}}">
                                    <th mat-header-cell *matHeaderCellDef>{{c}}</th>
                                    <td mat-cell *matCellDef="let item let i=idex">{{item[c]}}</td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let i=index;">
                                    <button mat-mini-fab color="warn" (click)="deleteRow(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="headers"></tr>
                            <tr mat-row *matRowDef="let row; columns: headers;"></tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>